.mat-row:nth-child(even) {
    background-color: #FFEBEE;
  }

  .mat-row:nth-child(odd) {
    background-color: #FFCDD2;
  }

  .mat-header-cell {
    font-size: 15px;
  }

  table {
    width: 100%;
  }

  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  button {
    margin: 16px 8px;
  }