<style>
</style>

<div role="main">

  
      <div>
        <span>{{title}} transactions</span>
      </div>

      
      <div>
            <mat-table [dataSource]="dataSource">
               <ng-container matColumnDef="payment_instrument_token">
                  <mat-header-cell *matHeaderCellDef> payment_instrument_token </mat-header-cell>
                  <mat-cell *matCellDef="let transaction"> {{transaction.payment_instrument_token}} </mat-cell>
                </ng-container>
                <ng-container matColumnDef="transaction_type">
                  <mat-header-cell *matHeaderCellDef> transaction_type </mat-header-cell>
                  <mat-cell *matCellDef="let transaction"> {{transaction.transaction_type}} </mat-cell>
                </ng-container>
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
      </div>

</div>

<router-outlet></router-outlet>